<div ng-controller="PaosByMeCtrl" ng-cloak>
    <md-list>
        <md-list-item ng-repeat="pao in paosbyme">
            <md-content class="md-padding" layout-xs="column" layout="row">
                <div flex-xs layout="column">
                    <md-card>
                        <img ng-src="{{pao.imageUrl}}" class="md-card-image" alt="PAO MACHA">
                        <md-card-title>
                            <md-card-title-text>
                                <input class="md-headline" ng-model="pao.title">
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <md-input-container class="md-block">
                                <textarea md-maxlength="1000" rows="5" ng-model="pao.body"></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <input ng-model="pao.imageUrl">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <input ng-model="pao.originalNewsUrl">
                            </md-input-container>

                            <p>
                                <span class="md-caption">PAO MACHA by {{pao.createdBy}} / {{-pao.createdOn | date:'medium' }} </span>
                            </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-model="pao" ng-click="paosbyme.$save(pao)" class="md-primary">Update</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-content>
        </md-list-item>
    </md-list>
</div>